<div class="row">
  <mat-toolbar class="nav-bar">
    <div class="col-4">
      <div class="col-4" style="margin-left:18vh">
        <span class="nav-text">facebook</span>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <input type="email" id="Inputemail" placeholder="Enter Email">
    </div>
    <div class="col-2">
      <input type="password" id="Inputpassword" placeholder="Enter Password">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary"><span class="login-btn">Log In</span></button>
    </div>
  </mat-toolbar>
</div>
