<div class="row main-section">
  <div class="col-6" style="margin-top:40px">
    <div class="col-8" style="margin-left:20vh">
      <h5>Facebook helps you connect and share with the people in your life.</h5>
    </div>
  </div>
  <div class="col-6" style="margin-top:22px">
    <h2>Create an Account</h2>
    <h6>It's free and always will be.</h6>
    <div class="row">
      <div class="col-5">
        <div class="form-group" style="margin-top:17px">
          <input type="text" class="form-control" placeholder="FirstName" required>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group" style="margin-top:17px">
          <input type="text" class="form-control" placeholder="LastName" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Mobile Number or Email Address" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="New Password" required>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-text">
        <input type="radio" id="radio-btn">Male
      </div>
      <div class="col-2">
        <div class="input-group-text">
          <input type="radio" id="radio-btn">Female
        </div>
      </div>
    </div>
    <div class="col-6" style="margin-top:10px; padding:0">
      <p>
        <small>
          By clicking Sign Up, you agree to our <a href="#">Terms, Data Policy</a> and Cookie Policy. You may receive
          SMS
          notifications
          from us and can opt out at any time.
        </small>
      </p>
    </div>
    <div style="margin-top:20px">
      <button type="button" class="btn btn-success">Sign Up</button>
    </div>
    <div>
      <p style="font-size: 13px; margin-top:5px"><a href="#">Create a Page</a> for a celebrity, band or business</p>
    </div>
  </div>
</div>
